/* Usado para criar variaveis */
:root {
  --background: #fff;
  --foreground: #6e07fe;
  --primary: #141c3a;
  --primary-light: #cdd3eb;
  --primary-foreground: #fff;
  --secondary: #5be8b9;
  --secondary-foreground: #141c3a;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* A declaração font-size: 62.5% no seletor html é uma técnica que define o tamanho da fonte como 62,5% do tamanho padrão do navegador, facilitando o dimensionamento das fontes em relação ao tamanho padrão do navegador.Os navegadores costumam definir o tamanho da fonte em torno de 16 pixels (ou 100% no contexto CSS). Portanto, com font-size: 62.5%; o tamanho-base da fonte se torna 10 pixels (62,5% de 16 pixels). */
}

x {
  font-size: 1.5rem; /* Por conta do font-size de cima aqui usamos o valor da fonta em REM, 1.5rem = 15px; */
}

.container {
  /* Pega todo espaço disponivel até 1200px */
  width: 100%;
  max-width: 1200px;
  /* Centraliza conteudo */
  margin: auto;
}

.button {
  display: inline-block;
  border: 0.2rem solid var(--foreground);
  color: var(--foreground);
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  transition: all ease 0.2s;
}

.button:hover {
  background-color: var(--foreground);
  color: var(--primary-foreground);
}
